<h1>Your Events and Comments, <%= @user.username %>:</h1>
 <% @user.events.each do |event| %>
    <h3><a href="/events/<%=event.id%>"><%= event.title %></a></h3>
    <h4><%= event.comments %></h4>
      <%end%>


      <button><a href="/events">Home</a></button>
      <button><a href="/events/new">New Event</a></button>
      <button><a href="/logout">Logout</a></button>


      <% if flash.has?(:message) %>
       <h3><%= flash[:message] %></h3>
       <%end%><br>
