<h1><%= @event.title %></h1>
<h3>Date: <%= @event.date %></h3>
<h3>Volunteers Needed: <%= @event.volunteers_needed %></h3>
<h3>Description: <%= @event.description %><br></h3><br>

   <form action="/events/<%=@event.id%>/comments" method="POST">
Comments: <input type="text" name="comments" value="<%= @event.comments%>"></input><br>
</form>
  <button id="submit" type="submit" >Submit</button>
