<!-- <h1><label>Event Title: </label></h1><br> -->
 <h1><%= @event.title %></h1>
 <h3>Date: <%= @event.date %></h3>
 <h3>Volunteers Needed: <%= @event.volunteers_needed %></h3>
 <h3>Description: <%= @event.description %><br></h3><br></br>

   <form action="/events/<%=@event.id%>/delete" method="POST">
     <input type="hidden" name="_method" value="DELETE">
  <button type="submit" value="Delete Events">Delete Events</button><br></br>
</form>
<form action="/events/<%=@event.id%>/edit" method="POST">
  <input type="hidden" name="_method" value="PATCH">
<button type="submit" value="Edit Events">Edit Events</button><br></br>
    <!-- <h3><a href="/events/<%=@event.id%>/edit">Edit Events</a></h3> -->
